header
{
    display: flex;
    width: 100%;
    padding: 0%;
    align-items:center;
    justify-content: center;
    overflow:auto;
}
.logo
{
    margin-left:-42%;
    overflow: auto;
}
.vas i
{
    margin-left:350%;
    margin-top:35%;
    overflow: auto;
}
.vas p
{
    margin-left:50%;
    margin-top:10%;
    width:100%;
    overflow: auto;
}
.vas span
{
    margin-left:100%;
    margin-top:1%;
    overflow: auto;
}
.two
{
    margin-left:10%;
    overflow: auto;
}
.hi
{
    width:96%;
    display:flex;
    padding:0% 2%;
    background-color:blue;
    align-items: center;
    overflow: auto;
}
.hi ul
{
    list-style: none;
    display: flex;
    margin-left:10px;
    text-decoration:none;
    margin-top:10px;
    overflow: auto;
}
.hi ul li a
{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin: 3px;
    padding: 20px 30px;
    justify-content:center;
    overflow: auto;
}

.hi button
{
    width:08%;
    height:25px;
    margin-left:08%;
    margin-right:1%;
    background-color: rgb(234, 227, 17);
    overflow: auto;
}
img
{
position:relative;
z-index:-1;
overflow: auto;
}
.box
{
    width:48%;
    height:124px;
    background-color:blue;
    margin-top:-800px;
    margin-left:300px;
    z-index:1;
    overflow: auto;
}
h1{
    margin-top:05px;
    margin-left:10px;
    position:absolute;
    z-index:2;
    border:10px;
    border-color:blue;
    overflow: auto;  
}
h3{
    margin-top:50px;
    margin-left:10px;
    position:absolute;
    z-index:2;
    width:45%;
    overflow: auto;
}

.cont
{
    width:20%;
    height:30px;
    background-color:rgb(16, 57, 45);
    margin-top:8px;
    margin-left:454px;
    z-index:1;
    overflow: auto;
}
h2{
    margin-top:-2px;
    margin-left:10px;
    position:absolute;
    z-index:2;
    color:rgb(230, 230, 248);  
    overflow: auto;

}
h4{
margin-top:4px;
margin-left:80px;
position:absolute;
z-index:2;
color:white;
overflow: auto;
}
.ranj
{
    width:20%;
    height:50px;
    margin-top:500px;
    margin-left:250px;
    border-radius:08px;
    background-color:black;
    color:white;
}
span
{
    margin-left:80px;
    margin-top:500px;
    margin-bottom:10px;
}
.three
{
    width:60%;
    height:70px;
    margin-left:230px;
    padding:0% 1%;
    border:none;
    border:7px solid black;
    background-color:white;
    display:flex;
}
 .three p
{
    width:10%;
    margin-top:20px;
    margin-bottom:100px;
    margin-left:5px;
    margin-right:70px;
    color:black;
    display:flex;
    align-items: center;
}
.four
{
    width:10%;
    margin-top:-35px;
    margin-bottom:10px;
    margin-left:250px;
    margin-right:30px;
    
}
.five
{
    width:10%;
    margin-top:-35px;
    margin-bottom:10px;
    margin-left:410px;
    margin-right:30px;
}
.six
{
    width:10%;
    margin-top:-35px;
    margin-bottom:10px;
    margin-left:570px;
    margin-right:30px;
}
.seven
{
    width:10px;
    margin-top:-35px;
    margin-bottom:10px;
    margin-left:50%;
    margin-right:30px;
    display:flex;
}
.seven button
{
    width:80px;
    background-color:red;
}
.over h3
{
    margin-left:15%;
    margin-top:1%;
}
.over hr
{
    width:80%;
    margin-left:15%;
    margin-top:4%;
    position: absolute;
}
.over i
{
margin-top:-1%;
margin-left:480%;
padding:0% 10%;
}
.pol
{
    margin-left:1400px;
    margin-top:-2%;
    color:black;
}
.over button
{
    margin-left:300px;
    margin-bottom:200px;
    margin-top:-10%;
}
.w
{
    margin-left:-5%;
    margin-right:20px;
    margin-top:15%;
}
.w img{
    margin-left:300px;
    margin-top:-20%;
}
.til
{
    margin-left:14%;
    margin-bottom:5%;
    margin-top:-3%;
    color:rgb(7, 88, 120)

}
.tild
{
    margin-left:16%;
    margin-bottom:10%;
    margin-top:-1%;
}
.rose
{
    background-color: rgb(5, 68, 83);
    margin-left:24%;
    margin-top:-11%;
    width:05%;
    height:20px;
    color:white;
}
.t
{  
    margin-left:47%;
    margin-bottom:5%;
    margin-top:-7%;
    color:rgb(7, 88, 120)
}
.vis
{
    margin-left:48%;
    margin-bottom:10%;
    margin-top:-7%;
}
.kel
{
    background-color: rgb(5, 68, 83);
    margin-left:57%;
    margin-top:-11%;
    width:05%;
    height:20px;
    color:white;
}
.la
{  
    margin-left:81%;
    margin-bottom:5%;
    margin-top:-6%;
    color:rgb(7, 88, 120);
}
.blu
{
    margin-left:82%;
    margin-bottom:10%;
    margin-top:-6%;
}
.bi
{
    background-color: rgb(5, 68, 83);
    margin-left:92%;
    margin-top:-11%;
    width:05%;
    height:20px;
    color:white;
}
.deal
{
    margin-left:15%;
}
.eiffel
{
    margin-left:230px;
    margin-top:90px;
}
.eiffel p
{
    margin-left:290px;
    margin-top:-250px;
    color:white;
}
.eiffel h2
{
    margin-left:80px;
    margin-top:10px;
}
.eiffel h4
{
    margin-left:20px;
    margin-top:70px;
    width:35%;
}
.sea
{
    margin-left:850px;
    margin-top:-08%;
}
.font p
{
    font-family:cursive;
    color:white;
    margin-left:65%;
    margin-top:-15%;
}
.font h4
{
    color:white;
    margin-left:950px;
    margin-top:0px;
    width:22%;
}
.last
{
    width:70%;
    height:50px;
    background-color:gray;
    color:black;
    margin-left:16%;
    margin-top:20%;
}
.last h3
{
    margin-left:01%;
    margin-top:1%;
}
.last p
{
    margin-left:15%;
    margin-top:20%;
}
.k
{
    margin-left:160px;
    margin-top:6%; 
}
.k h4{
    color:black;
    margin-top:-50px;
}
.k ul li
{
    list-style:none;
    margin-left:35px;
}
.n
{
    margin-left:400px;
    margin-top:-7%; 
}
.n ul li
{
    list-style:none;
    margin-left:40px;
}
.n h4{
    color:black;
    margin-top:-30px;
}
.n p
{
    margin-top:100px;
    margin-bottom:100px;
}
.q
{
    margin-left:200px;
    margin-top:-6%;
    color:black;    
}
.q h4
{
 margin-left:480px;
 margin-top:1%;
 color:black;
}
.h
{
    margin-left:60%;
    margin-top:-1%;
    margin-bottom:10%;
    color:black;    
}
.h h4
{
    color:black;
    margin-left:-2%;
    margin-top:-2%;
}

